In [24]:
import pandas as pd
import numpy as np

In [41]:
dataset = pd.read_csv('ILDC_single.csv')
dataset.head(10)

,text,label,split,name
0,"F. NARIMAN, J. Leave granted. In 2008, the Pu...",1,train,2019_890.txt
1,"S. THAKUR, J. Leave granted. These appeals ar...",0,train,2014_170.txt
2,"Markandey Katju, J. Leave granted. Heard lear...",1,train,2010_721.txt
3,"ALTAMAS KABIR,J. Leave granted. The question ...",1,train,2008_1460.txt
4,"CIVIL APPEAL NO. 598 OF 2007 K. MATHUR, J. Th...",1,train,2008_188.txt
5,O R D E R CIVIL APPEAL NOS. 85-86 OF 2002 Thes...,0,train,2008_368.txt
6,O R D E R Arising out of S.L.P C No.3358 of ...,1,train,2007_946.txt
7,"SANTOSH HEGDE, J. Noticing certain companytra...",0,train,2005_208.txt
8,"2004 3 SCR 534 WITH W.P. C No. 852/91, C...",0,train,2004_246.txt
9,Arising out SLP c No. 16202 of 2003 With ...,1,train,2004_764.txt

In [26]:
print(f"Total number of examples: {dataset.shape[0]}")
print(f"Total number of train examples: {dataset[dataset['split']=='train'].shape[0]}")
print(f"Total number of dev examples: {dataset[dataset['split']=='dev'].shape[0]}")
print(f"Total number of test examples: {dataset[dataset['split']=='test'].shape[0]}")

Total number of examples: 7593
Total number of train examples: 5082
Total number of dev examples: 994
Total number of test examples: 1517

In [42]:
print(f"Average length of text: {np.average([len(line.split(' ')) for line in dataset['text']])}")

Average length of text: 3883.7713683655998

In [43]:
def save_file(dataset, split):
    dataset = dataset[dataset['split']==split]
    dataset_ready = pd.DataFrame({'text' : np.array(dataset['text']), 
                                'label' : np.array(dataset['label'])})
    print(f"{split} dataset shape {dataset_ready.shape}")
    dataset_ready.to_csv(split + '_dataset.csv', index=False)

In [44]:
save_file(dataset, 'train')
save_file(dataset, 'dev')
save_file(dataset, 'test')

train dataset shape (5082, 2)
dev dataset shape (994, 2)
test dataset shape (1517, 2)

In [45]:
train_dataset = pd.read_csv('train_dataset.csv')
train_dataset.head()

                                                text  label
0   F. NARIMAN, J. Leave granted. In 2008, the Pu...      1
1   S. THAKUR, J. Leave granted. These appeals ar...      0
2   Markandey Katju, J. Leave granted. Heard lear...      1
3   ALTAMAS KABIR,J. Leave granted. The question ...      1
4   CIVIL APPEAL NO. 598 OF 2007 K. MATHUR, J. Th...      1

In [46]:
dev_dataset = pd.read_csv('dev_dataset.csv')
dev_dataset.head()

                                                text  label
0  civil appellate jurisdiction civil appeal numb...      0
1  civil appellate jurisdiction civil appeal numb...      0
2  civil appellate jurisdiction civil appeal numb...      1
3  civil appellate jurisdiction civil appeal numb...      0
4  original jurisdiction writ petitions number. 8...      0

In [47]:
test_dataset = pd.read_csv('test_dataset.csv')
test_dataset.head()

                                                text  label
0  civil appellate jurisdiction civil appeal numb...      1
1  criminal appellate jurisdiction special leave ...      0
2  criminal appellate jurisdiction criminal appea...      0
3  civil appellate jurisdiction civil appeal numb...      0
4  civil appellate jurisdiction civil appeal numb...      1

In [48]:
dev_dataset.shape

(994, 2)

In [49]:
test_dataset.shape

(1517, 2)